.DS_Store
Thumbs.db
package-lock.json
/fsh-generated
/input-cache
/output
/temp
/template
/node_modules
/gobernanza
/.github

# Archivos pesados y ejecutables de FHIR
*.jar
*.zip
*.tar.gz
*.exe
*.ruby-version

# Archivos de entorno y credenciales
.env
*.pem
*.key